<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejecutor de Métodos String</title>
    <link rel="stylesheet" href="../Statics/Ejemplo.css">
</head>
<body>
    <h1>Ejecutor de Métodos String</h1>
    
    <div class="contenedor">
        <label for="texto-input">Texto:</label>
        <input type="text" id="texto-input" placeholder='Ejemplo: "Hola mundo"'>
        <label for="metodo-input">Método:</label>
        <input type="text" id="metodo-input" placeholder='Ejemplo: slice(2,8)'>
        
        <button id="ejecutar-btn">Ejecutar</button>
        
        <div class="result-pantalla" id="result-pantalla">
            El resultado aparecerá aquí...
        </div>
        
    </div>

    <script src="../Dynamics/JS/Ejemplo.js"></script>
</body>
</html>